
# PlanAhead Generated IO constraints 

NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[2]" IOSTANDARD = LVCMOS33;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "A[0]" IOSTANDARD = LVCMOS33;
NET "ALU_OUT_160_163[3]" IOSTANDARD = LVCMOS33;
NET "ALU_OUT_160_163[2]" IOSTANDARD = LVCMOS33;
NET "ALU_OUT_160_163[1]" IOSTANDARD = LVCMOS33;
NET "ALU_OUT_160_163[0]" IOSTANDARD = LVCMOS33;
NET "ALU_Sel[3]" IOSTANDARD = LVCMOS33;
NET "ALU_Sel[2]" IOSTANDARD = LVCMOS33;
NET "ALU_Sel[1]" IOSTANDARD = LVCMOS33;
NET "ALU_Sel[0]" IOSTANDARD = LVCMOS33;
NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;
NET "CARRY_OUT_160_163" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "A[3]" LOC = P4;
NET "A[2]" LOC = P3;
NET "A[1]" LOC = R3;
NET "A[0]" LOC = T1;
NET "ALU_OUT_160_163[3]" LOC = P2;
NET "ALU_OUT_160_163[2]" LOC = R2;
NET "ALU_OUT_160_163[0]" LOC = P5;
NET "ALU_Sel[3]" LOC = R6;
NET "ALU_Sel[2]" LOC = R7;
NET "ALU_Sel[1]" LOC = U8;
NET "ALU_Sel[0]" LOC = U9;
NET "B[3]" LOC = T3;
NET "B[2]" LOC = U2;
NET "B[1]" LOC = V2;
NET "CARRY_OUT_160_163" LOC = T8;
NET "B[0]" LOC = U4;
NET "ALU_OUT_160_163[1]" LOC = U1;
